@page
@using ItTakesAVillage.Models
@model ItTakesAVillage.Pages.NotificationModel
@{
    @Html.AntiForgeryToken()
}

@if (Model.CurrentUser != null)
{
    if (Model.Notifications.Any())
    {
        <h2 class="abrilFont text-center m-5">På gång</h2>
        <div class="greenBgColor p-5">
            <div class="container mx-auto d-flex justify-content-center">
                <div class="accordion w-75 " id="notification-accordion">
                    @foreach (var notification in Model.Notifications.OrderBy(x => x.RelatedEvent.DateTime))
                    {
                        var textstyle = notification.IsRead ? "" : "fw-bold";
                        <div class="accordion-item  border-0">
                            <button class="greenBgColor accordion-button collapsed @textstyle"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapse_@notification.Id"
                                    aria-expanded="false"
                                    aria-controls="collapse_@notification.Id"
                                    onclick="handleAccordionClick(@notification.Id)">
                                <i class="bi bi-circle-fill pinkFontColor p-2"></i>
                                <span class="">@notification.RelatedEvent.DateTime.ToShortDateString() - @notification.Title</span>
                            </button>

                            <div id="collapse_@notification.Id" class="accordion-collapse collapse" aria-labelledby="heading_@notification.Id" data-bs-parent="#notification-accordion">
                                <div class="accordion-body greenBgColor p-4">
                                    @if (notification.RelatedEvent is DinnerInvitation invitation)
                                    {
                                        await Html.RenderPartialAsync("_DinnerNotificationPartial", invitation);
                                    }
                                    @* @if (notification.RelatedEvent is PlayDate invitation)
                        {
                        await Html.RenderPartialAsync("_PlayDateNotificationPartial", invitation);
                        } *@

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
  <partial name="_FooterQuote" />
}