@page
@using ItTakesAVillage.Models
@model ItTakesAVillage.Pages.NotificationModel
@{
    @Html.AntiForgeryToken()
}

@if (Model.CurrentUser != null)
{
    if (Model.Notifications.Any())
    {
        <div class="accordion" id="notification-accordion">
            @foreach (var notification in Model.Notifications)
            {
                var textstyle = notification.IsRead ? "" : "fw-bold";
                <div class="accordion-item">
                    <button class="accordion-button collapsed @textstyle"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapse_@notification.Id"
                            aria-expanded="false"
                            aria-controls="collapse_@notification.Id"
                            onclick="handleAccordionClick(@notification.Id)">
                        @notification.RelatedEvent.DateTime.ToString("g") - @notification.Title
                    </button>

                    <div id="collapse_@notification.Id" class="accordion-collapse collapse" aria-labelledby="heading_@notification.Id" data-bs-parent="#notification-accordion">
                        <div class="accordion-body">
                            @if (notification.RelatedEvent is DinnerInvitation invitation)
                            {
                                await Html.RenderPartialAsync("_DinnerNotificationPartial", invitation);
                            }
                            @* @if (notification.RelatedEvent is PlayDate invitation)
                            {
                                await Html.RenderPartialAsync("_PlayDateNotificationPartial", invitation);
                            } *@
                            
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}