@page
@model ItTakesAVillage.Pages.PlayDateModel
@{
}
@if (Model.CurrentUser != null)
{
    <div class="d-flex align-items-center flex-column">
        <img class="mx-auto eventImg" src="~/img/playdate.png " />
        <h2 class="abrilFont text-center mt-2 mb-5">Lekträff</h2>
    </div>
    @if (Model.GroupsOfCurrentUser != null && Model.GroupsOfCurrentUser.Any())
    {
        await Html.RenderPartialAsync("_MemberPartial", Model.GroupsOfCurrentUser);

        <div class="greenBgColor py-4">
            <div class="container w-75">
                <h4 class="abrilFont mt-4 mb-3">Skapa ny lekträffsinbjudan</h4>
                <div class="w-50">
                    <form method="post">
                        <label class="form-label fw-bold mt-2">Vilken grupp?*</label>
                        <select class="form-control w-25 bg-transparent" asp-for="NewPlayDate.GroupId" asp-items="ViewBag.GroupId">
                            <option disabled selected>Välj grupp</option>
                        </select>
                        <label class="form-label fw-bold mt-2">Vilket datum och tid?*</label>
                        <input required class="form-control bg-transparent" asp-for="NewPlayDate.DateTime" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm", new System.Globalization.CultureInfo("sv-SE"))" />
                        <label class="form-label fw-bold mt-2">Vem vill leka?</label>
                        <input class="form-control bg-transparent" asp-for="NewPlayDate.ChildName" />
                        <label class="form-label fw-bold mt-2">Vem vill barnet leka med?</label>
                        <input class="form-control bg-transparent" asp-for="NewPlayDate.InvitedChildName" />
                        <label class="form-label fw-bold mt-2">Var ska ni vara?</label>
                        <input class="form-control bg-transparent" asp-for="NewPlayDate.Location" />
                        <label class="form-label fw-bold mt-2">Övrig information</label>
                        <textarea class="form-control bg-transparent" asp-for="NewPlayDate.Message"></textarea>
                        <input type="submit" class="btn pinkBgColor fw-bold mt-2" value="Spara" />
                    </form>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="greenBgColor py-4 customColouredContainer d-flex align-items-center justify-content-center">
            <div class="container d-flex flex-column align-items-center">
                <h4 class="abrilFont my-4">Skapa en grupp för att bjuda in till lekträff!</h4>
                <a asp-page="/Group" class="btn custom-btn fontColor fw-bold pinkBgColor my-4">Skapa ny grupp</a>
            </div>
        </div>
    }
    var PlayDateNotifications = Model.Notifications.Where(x => x.RelatedEvent is Models.PlayDate);
    if (PlayDateNotifications.Any())
    {
        <div class="border border-start-0 border-end-0 border-top-0 py-4">

            <div class="container w-75 pt-5 pb-4">
                <h4 class="abrilFont mb-3">På gång - lekträff</h4>
                <div class="accordion" id="notification-accordion">
                    @foreach (var notification in PlayDateNotifications.OrderBy(x => x.RelatedEvent.DateTime).Take(5))
                    {
                        var textstyle = notification.IsRead ? "" : "fw-bold";
                        <div class="accordion-item border-0">
                            <button class="accordion-button collapsed @textstyle"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapse_@notification.Id"
                            aria-expanded="false"
                            aria-controls="collapse_@notification.Id"
                            onclick="handleAccordionClick(@notification.Id)">
                                <i class="bi bi-circle-fill pinkFontColor p-2"></i>
                                <span class="">@notification.RelatedEvent.DateTime.ToShortDateString() - @notification.Title</span>
                            </button>

                            <div id="collapse_@notification.Id" class="accordion-collapse collapse" aria-labelledby="heading_@notification.Id" data-bs-parent="#notification-accordion">
                                <div class="accordion-body p-4">
                                    @if (notification.RelatedEvent is Models.PlayDate playDate)
                                    {
                                        await Html.RenderPartialAsync("_PlayDateNotificationPartial", playDate);
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    <partial name="_FooterQuote" />
}